

<h1 class="text-3xl">Pricing page</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Deserunt ipsum elit amet non non et reprehenderit Lorem ex incididunt qui aliquip sunt.
    Nulla consequat eiusmod velit commodo consequat labore dolor ea id elit.
    Tempor ex dolore enim aliquip. Eu ea consectetur voluptate cupidatat mollit dolore
    nisi labore tempor est veniam exercitation. Veniam duis incididunt magna mollit ullamco cillum aliquip do.
    Ex exercitation ex ad irure dolor non eu fugiat ipsum ipsum aliquip velit..
  </p>
</section>

