
@if ( cocktail()! === null ) {

  <div class="flex justify-center">
    <h1 class="text-4xl font-bold">Loading...</h1>
  </div>

} @else {

  <section class="flex flex-col justify-center">
    <div>
      <h1 class="text-4xl font-bold capitalize my-5">
        <!-- {{ cocktail()!['strDrink'] }} -->
      </h1>
    </div>
    <div>
      <h2>
        <!-- {{ cocktail()!['strIngredient1'] }} -->
      </h2>
    </div>
  </section>
}



 <!-- <h1>Issue numbre:
  <small>{{ beerId() }}</small>
</h1> -->




