
<div class="max-w-sm animate-fadeIn rounded overflow-hidden shadow-lg">
  <img class="w-full"
      [src]="cocktail()!['strDrinkThumb']"
      [alt]="cocktail()!['strDrink']"
      class="w-64 h-64"
      width="256px"
      height="256px"
  >
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{  cocktail()!['strDrink'] }}</div>
    <p class="text-gray-700 text-base">
      {{ cocktail()!['strIngredient1'] }} - {{ cocktail()!['strMeasure1'] }}
      <br>
      {{ cocktail()!['strIngredient2'] }} - {{ cocktail()!['strMeasure2'] }}
      <br>
      {{ cocktail()!['strIngredient3'] }} - {{ cocktail()!['strMeasure3'] }}
      <br>
      {{ cocktail()!['strIngredient4'] }} - {{ cocktail()!['strMeasure4'] }}
    </p>
  </div>
  <div class="px-6 py-4">
    <p class="text-gray-700 text-base">
      {{ cocktail()!['strInstructions'] }}
    </p>
  </div>
</div>



