<nav class="bg-neutral-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-1 items-center justify-end sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tse3.mm.bing.net/th?id=OIP.rIeUgEgT00xLHZJPugnDbAHaKs&pid=Api&P=0&h=180" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#"
               class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white"
               aria-current="page">Beer Page</a>
            <a
              routerLink="/about"
              routerLinkActive="text-blue-500"
              class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white"
              >About
            </a>
            <a routerLink="/pricing"
               routerLinkActive="text-blue-500"
               class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white"
               >Pricing
            </a>
            <a routerLink="/contact"
              routerLinkActive="text-blue-500"
               class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white"
               >Contact
              </a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

      </div>
    </div>
  </div>
</nav>
